= form_for :session, url: sessions_path do |f|
  .form-group
    = f.email_field :email, class: 'form-control input-lg', placeholder: 'Your email'
  .form-group
    = f.password_field :password, class: 'form-control input-lg', placeholder: 'Your password'
  .form-group
    = f.check_box :remember_me 
    %span Remember me
  .form-group
    = f.submit "Log in", class: 'btn btn-primary btn-lg'

  = render 'shared/links'

