.row
  .col-md-12
    .col-md-3
      %h1= @user.name
      %p
        %span 
          %i.glyphicon.glyphicon-envelope
        = @user.email
        -if user_signed_in? && @user != current_user 
          = render 'form_follow'
    .col-md-9
      %h2= "Posted by #{@user.name}" 
      = render @entries