= form_for @user, url: registrations_path do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :email
    = f.email_field :email, class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, class: 'form-control'
  .form-group 
    = f.label :password_confirmation, "Password Confirmation"
    = f.password_field :password_confirmation, class: 'form-control'
  .form-group
    = f.submit "Submit", class: 'btn btn-primary' 
