!!! 5
%html
%head
  %title Blog System
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  // Navigation
  = render 'layouts/header'
  
  // Main container
  .container#main
    // Flash message
    = render 'layouts/messages'
    = yield

  // Footer
  = render 'layouts/footer'